/* Apresentação */
.home__apresentacao{
    height:70vh;
    padding: 4rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.home__apresentacao-img{
    width:30%;
}

.home__apresentacao-img img{
    width:100%;
}

.home__apresentacao-textos{
    width:60%;
    display:flex;
    flex-direction: column;
    gap:2.5rem;
}

.home__apresentacao-textos p{
    font-size: 32px;
}

.home__apresentacao-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4rem;
}

.home__apresentacao-links a{
    padding:1rem 1.5rem;
    text-align: center;
    width:200px;
    border-radius: 32px;
    font-size: 28px;
    background-color: var(--cor-primaria);
    color: var(--cor-texto-secundario);
    text-decoration: none;
}

.home__apresentacao-links a:hover{
    background-color: #6A9E30;
}



/* Avaliações */
.home__avaliacoes{
    background-color: var(--cor-background-avaliacoes);
    height:85vh;
    padding: 4rem;
    display:flex;
    flex-direction: column;
    gap:3rem;
}

.home__avaliacoes h2{
    color: var(--cor-texto-secundario);
    font-size: 60px;
}

.home__avaliacoes-cards{
    display:flex;
    flex-direction: column;
    gap:2rem;
    text-align: center;
    align-items: center;
}

.home__avaliacoes-cards-card{
    background-color: var(--cor-background-principal);
    padding:2rem;
    width:50%;
    height:270px;
    border-radius: 32px;
    display: flex;
    gap:4rem;
}

.avaliacoes__card-img{
    width:249px;
    height:249px;
    border-radius: 16px;
    align-self:center;
}

.avaliacoes__card-comentario{
    align-self:center;
    display: flex;
    flex-direction: column;
    gap:3rem;
}

.avaliacoes__card-comentario-estrelas{
    display:flex;
    gap:3rem;
}

.avaliacoes__card-comentario-texto{
    align-self: flex-start;
    text-align: start;
    display:flex;
    flex-direction: column;
    gap:1.5rem;
    color: var(--cor-texto-principal);
}

.avaliacoes__card-comentario-texto h3{
    font-size: 36px;
    font-weight: 500;
}

.avaliacoes__card-comentario-texto p{
    font-size: 18px;
}

.avaliacoes__card-comentario-texto p span{
    color: var(--cor-marcacao-avaliacoes);
}