@import url("reset.css");
@import url("home.css");
@import url("contato.css");
@import url("reserva.css");


/*Variáveis CSS*/
:root{
    --cor-primaria: #496623;

    --cor-texto-principal: #000000;

    --cor-link: #FFFFFF;

    --cor-background-principal: #F5F5F5;
    --cor-background-avaliacoes: #1C1C1C;
    --cor-background-formulario: #FFFFFF;

    --cor-marcacao-avaliacoes: #0000FF;

    --cor-mesas-disponiveis: #496623;
    --cor-mesas-nao-disponiveis: #AF0102;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cor-background-principal);
}

.background-inicial{
    background-image: url("../imgs/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    padding: 2rem 4rem;
}

.links-cabecalho{
    display: flex;
    gap:3rem;
}

.links-cabecalho a, .links-cabecalho button{
    font-size: 50px;
    color:var(--cor-link);
    cursor: pointer;
    font-weight: 500;
    align-self: center;
}

.links-cabecalho a{
    text-decoration: none;
}

.links-cabecalho button{
    background-color: transparent;
    border: none;
}

.link-reservas{
    padding:0 1rem;
    display: flex;
    justify-content: end;
    height:71%;
    align-items: end;
}

.link-reservas a{
    width:385px;
    height:100px;
}
/* .link-reservas a:hover{
    background-color: blueviolet;
} */