@import url("reset.css");
@import url("home.css");
@import url("contato.css");
@import url("reserva.css");


/*Variáveis CSS*/
:root{
    --cor-primaria: #496623;

    --cor-texto-principal: #000000;
    --cor-texto-secundario:#FFFFFF;

    --cor-background-principal: #F5F5F5;
    --cor-background-avaliacoes: #1C1C1C;
    --cor-background-formulario: #FFFFFF;
    --cor-background-cardapio: #333333;
    --cor-background-mapa: #D9D9D9;

    --cor-marcacao-avaliacoes: #0000FF;

    --cor-mesas-disponiveis: #496623;
    --cor-mesas-nao-disponiveis: #AF0102;

    --cor-hover-btns: #6A9E30;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cor-background-principal);
}

.background-inicial{
    background-image: url("../imgs/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    padding: 2rem 4rem;
}

.menu-hamburguer {
    display: none;
    font-size: 5rem;
    color: var(--cor-texto-secundario);
    cursor: pointer;
    z-index: 1001;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.links-cabecalho{
    display: flex;
    gap:3rem;
}

.links-cabecalho a, .links-cabecalho button{
    font-size: 50px;
    color:var(--cor-texto-secundario);
    cursor: pointer;
    font-weight: 500;
    align-self: center;
}

.links-cabecalho a{
    text-decoration: none;
}

.links-cabecalho button{
    background-color: transparent;
    border: none;
}

.links-cabecalho a:hover, .links-cabecalho button:hover{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
    text-decoration: underline;
}

.link-reservas{
    padding:0 1rem;
    display: flex;
    justify-content: end;
    height:71%;
    align-items: end;
}

.link-reservas a{
    width:385px;
    height:100px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-reservas a p{
    display: none;
    color: var(--cor-texto-secundario);
    font-size: 22px;
}



/* Modal de exibição do cardápio */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* fundo escuro translúcido */
    justify-content: center;
    align-items: center;
}

.modal-conteudo {
    background: var(--cor-background-cardapio);
    padding: 1.5rem;
    border-radius: 16px;
    max-width: 700px;
    width: 90%;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    animation: fadeIn 0.3s ease;
}

.modal-conteudo img{
    width: 100%;
    border-radius: 16px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

/* Botão de fechar */
.fechar-modal {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    font-size: 7rem;
    font-weight: bold;
    color: var(--cor-background-principal);
    cursor: pointer;
}

.fechar-modal:hover{
    color:blanchedalmond;
}


/* Media 1366px */
@media screen and (max-width:1366px){
    .modal-conteudo{
        max-width: 500px;
    }
}

/* Media 768px */
@media screen and (max-width:768px) {
    .background-inicial{
        background-image: url("../imgs/background-mobile.png");
        background-size: cover;
    }

    .menu-hamburguer {
        display: block;
    }

    .modal-conteudo{
        max-width: 700px;
        padding: 0.75rem;
    }

    .fechar-modal{
        font-size: 4rem;
    }

    .links-cabecalho {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 6rem;
        right: 2rem;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 2rem;
        border-radius: 8px;
        z-index: 1000;
    }

    .links-cabecalho.show {
        display: flex;
    }

    .links-cabecalho a,
    .links-cabecalho button {
        font-size: 2.2rem;
    }

    .link-reservas{
        height:90%;
        padding:0;
        justify-content: start;
    }

    .link-reservas a{
        background-color: rgba(0, 0, 0, 0.8);
        border:2px solid var(--cor-primaria);
        border-radius: 8px;
        width:200px;
        height:60px;
    }

    .link-reservas a p{
        display: block;
    }

    .link-reservas a:hover{
        background-color: rgba(0, 0, 0, 0.5);
    }
}